<!DOCTYPE html>
<html>
<head>
  <title>A list starships</title>
</head>
<body>

<h1>List of starships</h1>

<a href="/starships/new">Create a new starship</a>

<ul>
  <% starships.forEach((starship) => { %>
    <li>
      <%= starship.id %> - <%= starship.name %> - <%= starship.size %>
      <form method="POST" action="/starships/<%= starship.id %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

</body>
</html>