<!DOCTYPE html>
<html>
<head>
  <title>New Starship</title>
</head>
<body>

<h1>New starship</h1>

<form method="POST" action="/starships">
  <p>
    <label for="id">ID</label>
    <input id="id" type="text" name="id">
  </p>
  <p>
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
  </p>
  <p>
    <label for="size">Size</label>
    <input id="size" type="text" name="size">
  </p>

  <button type="submit">Create my ship!</button>
</form>

</body>
</html>